--header "\n {file}\n MIDIKit • https://github.com/orchetect/MIDIKit\n © {year} Steffan Andrews • Licensed under MIT License\n"
--allow-partial-wrapping false
--call-site-paren balanced
--complex-attributes prev-line
--computed-var-attributes prev-line
--empty-braces spaced
--extension-acl on-declarations
--func-attributes prev-line
--ifdef preserve
--maxwidth 140
--indent-strings true
--property-types explicit
--stored-var-attributes preserve
--strip-unused-args unnamed-only
--trailing-commas never
--type-attributes prev-line
--disable docComments,modifierOrder,modifiersOnSameLine,redundantMemberwiseInit,redundantPattern,redundantRawValues,redundantSendable,redundantSwiftTestingSuite,redundantVariable,swiftTestingTestCaseNames,unusedArguments
--enable preferSwiftTesting,wrapMultilineFunctionChains