name: examples

on:
  push:
    branches: [main]
    paths-ignore:
      - '**/*.md'       # .md files anywhere in the repo
      - '**/LICENSE'    # LICENSE files anywhere in the repo
      - '**/.gitignore' # .gitignore files anywhere in the repo
      
  pull_request:
    branches: [main]
    paths-ignore:
      - '**/*.md'       # .md files anywhere in the repo
      - '**/LICENSE'    # LICENSE files anywhere in the repo
      - '**/.gitignore' # .gitignore files anywhere in the repo
      
  workflow_dispatch:
    
  schedule:
    - cron: '25 12 * * *'   # once a day @ 12:25pm UTC (5:35am PST)

jobs:
  UIKit:
    name: UIKit
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@main
    
    - name: BluetoothMIDI - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/UIKit/BluetoothMIDI/BluetoothMIDI.xcodeproj" -branch ${{ github.ref }}
    - name: BluetoothMIDI - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/UIKit/BluetoothMIDI/BluetoothMIDI.xcodeproj" -resolvePackageDependencies
    - name: BluetoothMIDI - Build
      run: xcodebuild build -project "Examples/UIKit/BluetoothMIDI/BluetoothMIDI.xcodeproj" -scheme "BluetoothMIDI" -destination "platform=iOS Simulator,name=iPhone 12"
    
    - name: EventParsing - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/UIKit/EventParsing/EventParsing.xcodeproj" -branch ${{ github.ref }}
    - name: EventParsing - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/UIKit/EventParsing/EventParsing.xcodeproj" -resolvePackageDependencies
    - name: EventParsing - Build
      run: xcodebuild build -project "Examples/UIKit/EventParsing/EventParsing.xcodeproj" -scheme "EventParsing" -destination "platform=iOS Simulator,name=iPhone 12"

    - name: VirtualInput - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/UIKit/VirtualInput/VirtualInput.xcodeproj" -branch ${{ github.ref }}
    - name: VirtualInput - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/UIKit/VirtualInput/VirtualInput.xcodeproj" -resolvePackageDependencies
    - name: VirtualInput - Build
      run: xcodebuild build -project "Examples/UIKit/VirtualInput/VirtualInput.xcodeproj" -scheme "VirtualInput" -destination "platform=iOS Simulator,name=iPhone 12"

    - name: VirtualOutput - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/UIKit/VirtualOutput/VirtualOutput.xcodeproj" -branch ${{ github.ref }}
    - name: VirtualOutput - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/UIKit/VirtualOutput/VirtualOutput.xcodeproj" -resolvePackageDependencies
    - name: VirtualOutput - Build
      run: xcodebuild build -project "Examples/UIKit/VirtualOutput/VirtualOutput.xcodeproj" -scheme "VirtualOutput" -destination "platform=iOS Simulator,name=iPhone 12"

  SwiftUI-iOS:
    name: SwiftUI iOS
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@main
    
    - name: BluetoothMIDI - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/SwiftUI iOS/BluetoothMIDI/BluetoothMIDI.xcodeproj" -branch ${{ github.ref }}
    - name: BluetoothMIDI - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/SwiftUI iOS/BluetoothMIDI/BluetoothMIDI.xcodeproj" -resolvePackageDependencies
    - name: BluetoothMIDI - Build
      run: xcodebuild build -project "Examples/SwiftUI iOS/BluetoothMIDI/BluetoothMIDI.xcodeproj" -scheme "BluetoothMIDI" -destination "platform=iOS Simulator,name=iPhone 12"

    - name: USB iOS to Mac - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/SwiftUI iOS/USB iOS to Mac/USB iOS to Mac.xcodeproj" -branch ${{ github.ref }}
    - name: USB iOS to Mac - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/SwiftUI iOS/USB iOS to Mac/USB iOS to Mac.xcodeproj" -resolvePackageDependencies
    - name: USB iOS to Mac - Build
      run: xcodebuild build -project "Examples/SwiftUI iOS/USB iOS to Mac/USB iOS to Mac.xcodeproj" -scheme "USB iOS to Mac" -destination "platform=iOS Simulator,name=iPhone 12"

  SwiftUI-Multiplatform:
    name: SwiftUI Multiplatform
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@main

    - name: EndpointPickers - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/SwiftUI Multiplatform/EndpointPickers/EndpointPickers.xcodeproj" -branch ${{ github.ref }}
    - name: EndpointPickers - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/SwiftUI Multiplatform/EndpointPickers/EndpointPickers.xcodeproj" -resolvePackageDependencies
    - name: EndpointPickers - Build (iOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/EndpointPickers/EndpointPickers.xcodeproj" -scheme "EndpointPickers" -destination "generic/platform=iOS Simulator,name=Any iOS Simulator Device"
    - name: EndpointPickers - Build (macOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/EndpointPickers/EndpointPickers.xcodeproj" -scheme "EndpointPickers" -destination "generic/platform=macOS,name=Any Mac"

    - name: EventParsing - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/SwiftUI Multiplatform/EventParsing/EventParsing.xcodeproj" -branch ${{ github.ref }}
    - name: EventParsing - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/SwiftUI Multiplatform/EventParsing/EventParsing.xcodeproj" -resolvePackageDependencies
    - name: EventParsing - Build (iOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/EventParsing/EventParsing.xcodeproj" -scheme "EventParsing" -destination "generic/platform=iOS Simulator,name=Any iOS Simulator Device"
    - name: EventParsing - Build (macOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/EventParsing/EventParsing.xcodeproj" -scheme "EventParsing" -destination "generic/platform=macOS,name=Any Mac"
      
    - name: MIDIKitUIExample - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/SwiftUI Multiplatform/MIDIKitUIExample/MIDIKitUIExample.xcodeproj" -branch ${{ github.ref }}
    - name: MIDIKitUIExample - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/SwiftUI Multiplatform/MIDIKitUIExample/MIDIKitUIExample.xcodeproj" -resolvePackageDependencies
    - name: MIDIKitUIExample - Build (iOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/MIDIKitUIExample/MIDIKitUIExample.xcodeproj" -scheme "MIDIKitUIExample" -destination "generic/platform=iOS Simulator,name=Any iOS Simulator Device"
    - name: MIDIKitUIExample - Build (macOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/MIDIKitUIExample/MIDIKitUIExample.xcodeproj" -scheme "MIDIKitUIExample" -destination "generic/platform=macOS,name=Any Mac"
      
    - name: MIDISystemInfo - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/SwiftUI Multiplatform/MIDISystemInfo/MIDISystemInfo.xcodeproj" -branch ${{ github.ref }}
    - name: MIDISystemInfo - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/SwiftUI Multiplatform/MIDISystemInfo/MIDISystemInfo.xcodeproj" -resolvePackageDependencies
    - name: MIDISystemInfo - Build (iOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/MIDISystemInfo/MIDISystemInfo.xcodeproj" -scheme "MIDISystemInfo iOS" -destination "generic/platform=iOS Simulator,name=Any iOS Simulator Device"
    - name: MIDISystemInfo - Build (macOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/MIDISystemInfo/MIDISystemInfo.xcodeproj" -scheme "MIDISystemInfo macOS" -destination "generic/platform=macOS,name=Any Mac"
    
    - name: SystemNotifications - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/SwiftUI Multiplatform/SystemNotifications/SystemNotifications.xcodeproj" -branch ${{ github.ref }}
    - name: SystemNotifications - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/SwiftUI Multiplatform/SystemNotifications/SystemNotifications.xcodeproj" -resolvePackageDependencies
    - name: SystemNotifications - Build (iOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/SystemNotifications/SystemNotifications.xcodeproj" -scheme "SystemNotifications" -destination "generic/platform=iOS Simulator,name=Any iOS Simulator Device"
    - name: SystemNotifications - Build (macOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/SystemNotifications/SystemNotifications.xcodeproj" -scheme "SystemNotifications" -destination "generic/platform=macOS,name=Any Mac"

    - name: VirtualInput - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/SwiftUI Multiplatform/VirtualInput/VirtualInput.xcodeproj" -branch ${{ github.ref }}
    - name: VirtualInput - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/SwiftUI Multiplatform/VirtualInput/VirtualInput.xcodeproj" -resolvePackageDependencies
    - name: VirtualInput - Build (iOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/VirtualInput/VirtualInput.xcodeproj" -scheme "VirtualInput" -destination "generic/platform=iOS Simulator,name=Any iOS Simulator Device"
    - name: VirtualInput - Build (macOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/VirtualInput/VirtualInput.xcodeproj" -scheme "VirtualInput" -destination "generic/platform=macOS,name=Any Mac"

    - name: VirtualOutput - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/SwiftUI Multiplatform/VirtualOutput/VirtualOutput.xcodeproj" -branch ${{ github.ref }}
    - name: VirtualOutput - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/SwiftUI Multiplatform/VirtualOutput/VirtualOutput.xcodeproj" -resolvePackageDependencies
    - name: VirtualOutput - Build (iOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/VirtualOutput/VirtualOutput.xcodeproj" -scheme "VirtualOutput" -destination "generic/platform=iOS Simulator,name=Any iOS Simulator Device"
    - name: VirtualOutput - Build (macOS)
      run: xcodebuild build -project "Examples/SwiftUI Multiplatform/VirtualOutput/VirtualOutput.xcodeproj" -scheme "VirtualOutput" -destination "generic/platform=macOS,name=Any Mac"
  
  AppKit:
    name: AppKit
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@main
    
    - name: EndpointMenus - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/AppKit/EndpointMenus/EndpointMenus.xcodeproj" -branch ${{ github.ref }}
    - name: EndpointMenus - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/AppKit/EndpointMenus/EndpointMenus.xcodeproj" -resolvePackageDependencies
    - name: EndpointMenus - Build
      run: xcodebuild build -project "Examples/AppKit/EndpointMenus/EndpointMenus.xcodeproj" -scheme "EndpointMenus" -destination "generic/platform=macOS,name=Any Mac"

    - name: EventParsing - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/AppKit/EventParsing/EventParsing.xcodeproj" -branch ${{ github.ref }}
    - name: EventParsing - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/AppKit/EventParsing/EventParsing.xcodeproj" -resolvePackageDependencies
    - name: EventParsing - Build
      run: xcodebuild build -project "Examples/AppKit/EventParsing/EventParsing.xcodeproj" -scheme "EventParsing" -destination "generic/platform=macOS,name=Any Mac"

    - name: VirtualInput - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/AppKit/VirtualInput/VirtualInput.xcodeproj" -branch ${{ github.ref }}
    - name: VirtualInput - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/AppKit/VirtualInput/VirtualInput.xcodeproj" -resolvePackageDependencies
    - name: VirtualInput - Build
      run: xcodebuild build -project "Examples/AppKit/VirtualInput/VirtualInput.xcodeproj" -scheme "VirtualInput" -destination "generic/platform=macOS,name=Any Mac"

    - name: VirtualOutput - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/AppKit/VirtualOutput/VirtualOutput.xcodeproj" -branch ${{ github.ref }}
    - name: VirtualOutput - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/AppKit/VirtualOutput/VirtualOutput.xcodeproj" -resolvePackageDependencies
    - name: VirtualOutput - Build
      run: xcodebuild build -project "Examples/AppKit/VirtualOutput/VirtualOutput.xcodeproj" -scheme "VirtualOutput" -destination "generic/platform=macOS,name=Any Mac"

  Advanced:
    name: Advanced
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@main
    
    - name: HUITest - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/Advanced/HUITest/HUITest.xcodeproj" -branch ${{ github.ref }}
    - name: HUITest - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/Advanced/HUITest/HUITest.xcodeproj" -resolvePackageDependencies
    - name: HUITest - Build
      run: xcodebuild build -project "Examples/Advanced/HUITest/HUITest.xcodeproj" -scheme "HUITest" -destination "generic/platform=macOS,name=Any Mac"
    
    - name: MIDIEventLogger - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/Advanced/MIDIEventLogger/MIDIEventLogger.xcodeproj" -branch ${{ github.ref }}
    - name: MIDIEventLogger - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/Advanced/MIDIEventLogger/MIDIEventLogger.xcodeproj" -resolvePackageDependencies
    - name: MIDIEventLogger - Build
      run: xcodebuild build -project "Examples/Advanced/MIDIEventLogger/MIDIEventLogger.xcodeproj" -scheme "MIDIEventLogger" -destination "generic/platform=macOS,name=Any Mac"
      
    - name: MTCExample - Set dependency branch
      run: swift .github/workflows/xcpBranch.swift set -go -p MIDIKit "Examples/Advanced/MTCExample/MTCExample.xcodeproj" -branch ${{ github.ref }}
    - name: MTCExample - Resolve Package Dependencies # needed because sometimes xcodebuild fails otherwise
      run: xcodebuild -project "Examples/Advanced/MTCExample/MTCExample.xcodeproj" -resolvePackageDependencies
    - name: MTCExample - Build
      run: xcodebuild build -project "Examples/Advanced/MTCExample/MTCExample.xcodeproj" -scheme "MTCExample" -destination "generic/platform=macOS,name=Any Mac"
